# Virtual Environment
venv/
env/
deep_learning_task/

# Data
data/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Model files
*.h5
*.pt
*.pth
*.ckpt

# Logs
*.log

# OS files
Thumbs.db
.DS_Store